{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <h1 class="heading">Edit Employer Profile</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    {{ p_form|crispy }} <!-- Profile form -->
                    {{ u_form|crispy }} <!-- User form -->
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                        <div class="checkbox text-center">
                            <label>
                                <input type="checkbox"> I agree with the <a href="#">Terms and conditions</a>.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-signing"></i>
                            Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}