{% extends 'base.html' %}
{% load static %}
{% load is_job_saved %}
{% block title %}
    All jobs
{% endblock %}
{% load is_already_saved %}
{% block content %}

    <section>
        <div class="container">
            <h4 class="heading">Find a <span class="accent">job </span> that will <span class="accent">fit to your experties</span></h4>
            <form id="job-main-form" method="get" action="{% url 'jobs:searh'%}" class="job-main-form">
                <div class="controls">
                    <div class="row align-items-end">
                        <div class="col-sm-1 col-lg-1"></div>
                        <div class="col-sm-5 col-lg-4 form-group">
                            <label for="profession">Profession</label>
                            <input type="text" id="position" name="position"
                                   placeholder="Profession you are looking for" class="form-control">
                        </div>
                        <div class="col-sm-5 col-lg-4 form-group">
                            <label for="location">Location</label>
                            <input type="text" id="location" name="location" placeholder="Any particular location?"
                                   value="" class="form-control">
                        </div>
                        
                        <div class="col-sm-1 col-lg-2 form-group">
                            <button type="submit" name="name"
                                    class="btn btn-outline-white-primary job-main-form__button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
           
        </div>
    </section>
    <hr>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-0 col-lg-2 ">
                    <div class="form-control box-object">
                        <div class="cat_title"><label for="certificate"><b>Certificate</b></label></div>
                        <ul name="certificate" id="certificate" class="ul-category">
                            {% for certificate in certificates %}
                            <li value="{{ certificate.id }}">
                                <a href="{% url 'jobs:certificate-jobs' certificate.id %}">{{ certificate.certificate }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-control box-object box-2">
                        <div class="cat_title"><label for="experience"><b>Experience</b></label></div>
                        <ul name="category" id="category" class="ul-category">
                            {% for experience in experiences %}
                            <li value="{{ experience.id }}">
                                <a href="{% url 'jobs:experience-jobs' experience.id %}">{{ experience.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-control box-object">
                        <div class="cat_title"><label for="category"><b>Category</b></label></div>
                        <div class="lst_box">
                            <ul name="category" id="category" class="ul-category">
                                {% for category in categories %}
                                <li value="{{ category.id }}">
                                    <a href="{% url 'jobs:category-jobs' category.id %}">{{ category.category }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                            
                    </div>
                </div>
                <div class="col-sm-3 col-lg-10 box"> 
                    <h3 class="heading">We have found <span class="accent">{{ jobs.count }}</span> jobs</h3>
                    {% for job in jobs %}
                    <div class="job-listing ">
                        <div class="row">
                            <div class="col-md-12 col-lg-5">
                                <div class="row">
                                   
                                    <div class="col-2">
                                        <img src="{{ job.company.image.url }}"
                                            alt="Ipsioou " class="img-fluid">
                                    </div>
                                    <div class="col-10">
                                        <h4 class="job__title"><a
                                                href="{% url 'jobs:jobs-detail' job.id %}">{{ job.title }}</a></h4>
                                        <p class="job__company">
                                            {{ job.company }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-md-3 col-lg-2 ml-auto">
                                <div>
                                    <i class="fa fa-map-marker job__location"></i>{{ job.company.location}}
                                </div>
                                <div>
                                    <i class="fa fa-calendar job__location"></i>{{job.last_date}}
                                </div>
                            </div>
                            <div class="col-10 col-md-3 col-lg-4 ml-auto">
                                <div>
                                    <i class="fa fa-dollar job__location"></i>
                                    Salary: {{ job.salary }}
                                </div>
                                <div>
                                    <i class="fa fa-briefcase job__location"></i>
                                    Experience: {{ job.experience }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-1">
                                {% if request.user.is_authenticated %}
                                    {% is_job_saved job request.user as is_saved %}
                                    {% if is_saved %}
                                        <button class="btn btn-outline-white-primary"><i class="fa fa-star"></i></button>
                                    {% else %}
                                        <form action="{% url 'jobs:job-save' job.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="job" value="{{ job.id }}">
                                            <button class="btn btn-outline-white-primary"><i class="fa fa-star-o"></i></button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <form action="{% url 'jobs:job-save' job.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="job" value="{{ job.id }}">
                                        <button class="btn btn-outline-white-primary"><i class="fa fa-star-o"></i></button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
                <div>
                {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}"
                                            class="page-link">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
            
            
            
        </div>
    </section>
    

{% endblock %}